* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal !important;
}

body {
    background: linear-gradient(#3C3741, #2980B9) fixed;
    color: white;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal !important;
    line-height: 1.5;
    padding: 0.6em;
}

.result {
    display: inline-flex;
}

.result div {
    padding: 10px 0 0 0;
}
